/* .form-control {
    display: block;
    width: 100%;
    left:10px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
} */

.search-box {
    position: relative;
}
.search-box .form-control {
    padding-left: 80px;
}

.form-control {
    position: relative;
    margin-top: 6px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}


/* .form-control {
    display: block;
    width: 100%;
    padding: .5rem .9rem;
    font-size: .825rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--vz-body-color);
    background-color: var(--vz-input-bg);
    background-clip: padding-box;
    border: 1px solid var(--vz-input-border);
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
} */
.search-box .search-icon {
    font-size: 14px;
    position: absolute;
    left: 26px;
    top:4px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #878a99;
}